[Unit]
Description=Zookeeper

Wants=network.target
After=syslog.target network-online.target

[Service]
Type=simple
ExecStart=/opt/kafka/bin/zookeeper-server-start.sh /opt/kafka/config/zookeeper.properties
Restart=on-failure
RestartSec=10
KillMode=process

[Install]
WantedBy=multi-user.target
